/* Container Styling */
.hospital-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header Styling */
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Form Group Styling */
.form-group {
    margin-bottom: 20px;
}

/* Label Styling */
label {
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

/* Input Styling */
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Error Message Styling */
.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

/* Alert Styling */
.alert {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

/* Button Styling */
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-primary {
    // background-color: #007bff;
    background: none;
    color: #1a73e8;
    border: none;
}

.btn-primary:disabled {
    background-color: #5a6268;
    cursor: not-allowed;
}

.btn-primary:hover:not(:disabled) {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 91, 179, 0.2);
}

.hospital-container input {
    border: 1px solid #1a73e8;
}

.hospital-container button {
    background-color: #1a73e8;
    color: #fff;
}

.hospital-container h2 {
    color: #1a73e8;
    font-size: 40px;
}


.hospital-container label {
    font-size: 20px;
}